---
import { Footer } from '@/partials/Footer';
import HomeI18n from '@/partials/HomeI18n.astro';
import { Navbar } from '@/partials/Navbar';
import { AppConfig } from '@/utils/AppConfig';
import { defaultLocale, type Locale } from '@/utils/i18n';
import 'katex/dist/katex.min.css';

export interface Props {
  head: {
    title: string;
    description: string;
  };
  theme?: 'home' | 'real' | 'fiction';
  locale?: Locale;
}

const {
  head: { title, description },
  theme = 'home',
  locale = defaultLocale,
} = Astro.props as Props;
---

<html lang={locale === 'zh-cn' ? 'zh-CN' : 'en'}>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>{title}</title>
    <meta name='description' content={description} />
    <meta name='author' content={AppConfig.author} />

    <link rel='alternate' type='application/rss+xml' href='/rss.xml' />
    <link rel='icon' type='image/x-icon' href='/favicon.ico' />
  </head>
  <body
    class={`flex min-h-screen flex-col bg-slate-950 text-gray-100 ${theme}-theme`}
  >
    <Navbar locale={locale} pathname={Astro.url.pathname} />

    <div class='flex-1'>
      <slot></slot>
    </div>

    <Footer locale={locale} />

    {theme === 'home' && <HomeI18n />}
  </body>
</html>
